* 
!Package Control.sublime-settings
!Default (Linux).sublime-keymap 
!Default (Linux).sublime-mousemap
!Preferences.sublime-settings
!JavaScript (Babel).sublime-settings
!JavaScript.sublime-settings
!JsPrettier.sublime-settings